ENV=dev

DISCORD_BOT_TOKEN=
EMAIL_CLIENT_ID=
EMAIL_TENANT_ID=
EMAIL_CLIENT_SECRET=

SWB_CLIENT_ID=
SWB_CLIENT_SECRET=
SWB_TENANT_ID=
SWB_SCOPE=
SWB_BASE_URL=

SIGNAL_BASE_URL=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_DATABASE=

IS_ALWAYS_POLLING_WINDOW=false
# DT_OVERRIDE=2025-11-03